<!DOCTYPE html>
<html ng-app="adventureRegister">

<head>
    <title>a d v e n t u r e | r e g i s t e r</title>

    <!-- libs -->
    <script type="text/javascript" src="js/lib/angular/angular.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-route.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-resource.js"></script>
    <script type="text/javascript" src="js/lib/angular/angular-animate.js"></script>
    <link rel="stylesheet" type="text/css" href="css/lib/bootstrap/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/adventureRegister.css">

    <!-- your stuff below -->
    <script type="text/javascript" src="js/adventureRegister/adventureRegister.js"></script>

</head>

<body>
    <div ng-controller="GuidePlanCtrl">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <p class="navbar-text pull-left">a d v e n t u r e | r e g i s t e r</p>
            <ul class="nav nav-pills">
                <li class="text-center pull-right">
                    <a class="navBarText" >help</a>
                </li>
                <li class="text-center pull-right">
                    <a class="navBarText" href="trip_edit.html">new trip</a>
                </li>
                <li class="text-center pull-right">
                    <a class="navBarText" href="flag_settings.html">flag settings</a>
                </li>
                <li class="text-center pull-right">
                    <a class="navBarText" href="profile_edit">profile</a>
                </li>
                <li class="text-center pull-right">
                    <a class="navBarText" href="index.html">home</a>
                </li>
            </ul>
        </nav>



        <div>
            <form role="form">

                <!-- section 1:  basic information -->

                <div class="basicInfo" style="border-style:solid; padding:10pt; border-width:1pt">
                    <div class="row">
                        <div class="col-xs-6">
                            <p>basic info</p>
                        </div>
                        <div class="col-xs-5"></div>
                    
                    </div>



                    <div ng-show="expandBasicInfo">

                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">name:</label>
                            <div class="col-xs-2">
                                <input type="input" class="form-control inputCell text-center" id="name" placeholder="" ng-model="name" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">email:</label>
                            <div class="col-xs-2">
                                <input type="input" class="form-control inputCell text-center" id="name" placeholder="" ng-model="name" />
                            </div>
                        </div>

                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">old password:</label>
                            <div class="col-xs-2">
                                <input type="input" class="form-control inputCell text-center" id="name" placeholder="" ng-model="name" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">new password:</label>
                            <div class="col-xs-2">
                                <input type="input" class="form-control inputCell text-center" id="name" placeholder="" ng-model="name" />
                            </div>
                        </div>
                        
                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">reenter new password:</label>
                            <div class="col-xs-2">
                                <input type="input" class="form-control inputCell text-center" id="name" placeholder="" ng-model="name" />
                            </div>
                        </div>



                        <div class="row">
                            <label class="col-xs-2 inputCell text-right control-label">photo:</label>
                      
                        </div>



                </br>
        </div>
    </div>


    </br>




    </form>
    </div>


</body>

</html>